



<h1>Votre camping en ligne en 5 min</h1>

<p> Reprenez la main sur vos réservations </p>

<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4">Créer votre espace de réservations et communication</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">Pourquoi Campee ?</h2>
      <p>Votre visibilité sur Internet est dictée par les centrales de réservations ? Reprenez en mains votre communication web en 5 minutes chrono grâce à Campee</p>
      <p>Avec Campee vous créez votre site de camping personnalisé: type de camping, évenements, dates, réservations, localisation, annonces. Gérez tout en quelques clics !</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#">Construire sa page &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">A propos</h2>
      <address>
        <strong>Campee</strong>
        <br>177 Cours Lafayette
        <br>Lyon, FRANCE 69006
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        04 56 78 90 18
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">info@campee.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="https://www.photoscamping.com/var/plain_site/storage/images/site_marchand/camping/les_grands_pins/nos_locations/16254/diaporama_hebergement/1_cottage_toile_4p_2ch_2f_exterieur/1985331-1-fre-FR/1_cottage_toile_4p_2ch_2f_exterieur_bloc_hebergement_sp.jpg" height="200" width="300" alt="">
        <div class="card-body">
          <h4 class="card-title">Type de camping</h4>
          <p class="card-text">Choisissez rapidement votre type de camping et commencez à toucher vos cibles.</p>
        </div>
        
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://www.campingventoux.com/wp-content/uploads/2016/05/Accueil-2016.jpg" height="200" width="300" alt="">
        <div class="card-body">
          <h4 class="card-title">Offre proposée</h4>
          <p class="card-text">Adaptez la page à toutes vos offres: bungalows, emplacements, mobile-homes.</p>
        </div>
        
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://www.peneyrals.com/uploads/images/Gallery/sport/soleil-jeu-ado-volley-volleyball-tennagers-rencontres-sun-games-club-camping-2.jpg" height="200" width="300" alt="">
        <div class="card-body">
          <h4 class="card-title">Activités à la carte</h4>
          <p class="card-text">Communiquez sur les activités que vous proposez en exclusivité et en direct.</p>
        </div>
      
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Campee & THP 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>