<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Adresse
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

            <div class="row">
              <div class="form-group">
                <label>Adresse</label>
                <%= f.text_field :address, placeholder: "Adresse du camping", class: "form-control", required: true  %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Sauvegarder", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
